@import "c/commonStyleUtil";

/* Container */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Content Section */
.content-section {
    display: flex;
    flex: 1; /* 나머지 높이 차지 */
    height: 93%
}

.height-75 {
    height: 68vh;
}

/* Left Section */
.left-section {
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    border: 0;
    box-shadow: 0 0 4px 1px lightgray;
    border-radius: 0.5rem;
    transition: all .2s linear;
    margin-bottom: 4vh;
}

/* Right Section */
.right-section {
    height: 100%; /* 부모의 높이와 동일 */
}

/* Content Wrappers */
.gridHeaderWrap {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.gridHeaderTitle {
    color: #1F1F1F;
    font-size: 1rem;
    font-weight: 600;
}

/* 하단 고정 버튼 스타일 */
.fixed-bottom-button {
    position: fixed;
    bottom: 100px;
    right: 400px;
    z-index: 1000;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.slds-page-header__name h1 {
    line-height: normal !important;
}

/* PC, Mobile 화면비율 체크 */
@media screen and (min-width: 1024px) {
    .left-section {
        width: 15%;
    }
    .right-section {
        width: 85%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .left-section {
        width: 20%;
    }
    .right-section {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    .left-section {
        width: 30%;
    }
    .right-section {
        width: 70%;
    }
}