sfdx-project.json
.idea/illuminatedCloud.xml
.sf/
.sfdx/
.localdev/
target/
node_modules/
/IlluminatedCloud/
/.illuminatedCloud/
/out/
**lwc_types.xml
**All_Tests.xml
*.iml
**config.json
**/tsconfig*.json
**/*.tsbuildinfo
