/*************************************************************
 * @author : jh.jung
 * @date : 2024-12-09
 * @description : 
 * @target : 
==============================================================
 * Ver          Date            Author          Modification
 * 1.0          2024-12-09      jh.jung         Initial Version
**************************************************************/

.label {
    width: 60px; /* label 부분의 고정 너비 설정 */
    display: inline-block;
    text-align: right;
    margin-right: 10px; /* label과 값 사이에 여백 추가 */
}