/*************************************************************
 * @author : jh.jung
 * @date : 2024-12-31
 * @description : 
 * @target : 
==============================================================
 * Ver          Date            Author          Modification
 * 1.0          2024-12-31      jh.jung         Initial Version
**************************************************************/

.modal-height {
    height: 24vh;
}

.datatable-container {
    height: 20vh;
    overflow-y: auto;
}