/*************************************************************
 * @author : chaebeom.do
 * @date : 2025-05-02
 * @description : 
 * @target : 
==============================================================
 * Ver          Date            Author          Modification
 * 1.0          2025-05-02      chaebeom.do     Created
**************************************************************/

.custom-box {
  border-radius: 0.5rem;
  border: 1px solid #c9c9c9;
  margin: 1px;
}